h1{
    font-size: 40px;
    font-family: monospace;
    color:#000000;
}

#start {
    width: 90px;
}

html,body{background: rgb(9, 186, 218);}


a{font-size: 30px;
}

#balken {
    width: 90px;
    color: #000000; 
}
#dcicon {
    width: 35px;
}

#twitchicon {
    width: 35px;
}

#githubicon {
    width: 35px;
}

