#logo {
    width: 10%; 
    display: block;
    margin: 0px auto;
}

#balken1 {
    border-bottom: 20px solid black;
    margin-top: 0%;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 5px 5px 5px rgb(255, 0, 0);  
}

h1
{
    color: red;
    text-shadow: 0px 5px 10px black, 0px 5px 10px black, 0px 5px 10px black;
    text-align: center;
    margin-bottom: 1%;
    font-size: 620%; 
}

h2 {
    text-align: center;
}

#tabel {
    width: 100%;
}

#pro {
    margin-top: 3%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

h3 {
    text-align: center;
}

#balken2 {
    border-bottom: 30px solid black;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
}

#balken3 {
    border-bottom: 30px solid black;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
}

